body {
    background-color: #ffffff; /* Branco */
    color: #000000; /* Preto para o texto */
    font-family: Arial, sans-serif; /* Definindo uma fonte padrão */


h1 {
    color: #0000ff; /* Azul */
    text-align: center;
}

#dados {
    margin-top: 20px;
    text-align: center;
}

#foto {
    margin-bottom: 20px;
}

button {
    background-color: #0000ff; /* Azul */
    color: #ffffff; /* Branco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003366; /* Tom mais escuro de Azul */
}

.table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 5px;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #0000ff; /* Azul */
}

.table th {
    background-color: #0000ff; /* Azul */
    color: #ffffff; /* Branco */
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Cinza claro para listras */
}

/* Estilos para o formulário */
.modal {
    display: none; /* Por padrão, mantenha o modal oculto */
    position: fixed; /* Posição fixa na tela */
    top: 50%; /* Alinhamento vertical no centro */
    left: 50%; /* Alinhamento horizontal no centro */
    transform: translate(-50%, -50%); /* Centralizando o modal */
    background-color: rgba(0, 0, 255, 0.9); /* Azul semi-transparente */
    padding: 20px;
    border-radius: 10px;
    z-index: 1000; /* Garante que o modal esteja na frente de outros elementos */
}

.modal form {
    max-width: 400px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário */
}

.form-item {
    margin-bottom: 10px;
}

.form-item label {
    color: #ffffff; /* Texto branco */
}

.form-item input[type="text"],
.form-item input[type="range"],
.form-item input[type="submit"],
.form-item input[type="button"] {
    width: 100%; /* Ocupa toda a largura disponível */
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.form-item input[type="text"],
.form-item input[type="range"] {
    background-color: #ffffff; /* Fundo branco */
    color: #000000; /* Texto preto */
}

.form-item input[type="submit"],
.form-item input[type="button"] {
    background-color: #0000ff; /* Azul */
    color: #ffffff; /* Texto branco */
    cursor: pointer;
}

.form-item input[type="submit"]:hover,
.form-item input[type="button"]:hover {
    background-color: #003366; /* Azul mais escuro */
}

/* Estilos para a tabela */
.table th, .table td {
    padding: 10px;
    border: 1px solid #0000ff; /* Azul */
    color: #000000; /* Texto preto */
}

.table th {
    background-color: #0000ff; /* Azul */
    color: #ffffff; /* Texto branco */
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Cinza claro para listras */
}

